/* author:sanjith */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.f-34 {
    font-size: 34px;
}
.f-32 {
    font-size: 32px;
}
.f-28 {
    font-size: 28px;
}
.f-26 {
    font-size: 26px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.container1,
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1,
.container3 {
    height: 60vh;
    background-color: #333;
}
.banner {
    text-align: center;
    color: white;
    width: 60%;
}
.banner h2,
.banner p,
.web h2 {
    margin-bottom: 15px;
}
.banner a {
    text-decoration: none;
    color: white;
    border: 2px solid;
    padding: 10px;
    display: inline-block;
}
.banner a:hover {
    background-color: #eaeaea;
    color: #333;
}
.container2 {
    background-color: #eaeaea;
    height: 40vh;
}
.web {
    color: black;
    text-align: center;
    width: 60%;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.whitebox {
    width: 25%;
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
.whitebox img {
    border-radius: 15px;
}
.container4 {
    height: 60vh;
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}
.contact,
.about {
    text-align: center;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    background-color: rgb(59, 59, 230);
    color: black;
}
.about {
    background-color: #333;
    color: black;
}
/* media query start   */
@media screen and (max-width: 576px) {
    .container1 {
        height: 100vh;
    }
    .banner,
    .web {
        width: 90%;
    }
    .whitebox {
        width: 90%;
        margin: 15px;
    }
    .container3 {
        height: auto;
    }
    .container4 {
        height: 200vh;
        flex-wrap: wrap;
        /* height: auto; */
    }
}
